
<div>
    <h2><span>Article</span> {{vm.article.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span>Title</span></dt>
        <dd>
            <span>{{vm.article.title}}</span>
        </dd>
        <hr>
        <dt><span>Content</span></dt>
        <dd>
            <span>{{vm.article.content}}</span>
        </dd>
        <hr>
        <dt><span>Last Modified</span></dt>
        <dd>
            <span>{{vm.article.lastModified | date:'medium'}}</span>
        </dd>
        <hr>
        <dt><span>User</span></dt>
        <dd>
            {{vm.article.user.login}}
        </dd>
        <hr>
        <dt><span>Tags</span></dt>
        <dd>
            <span ng-repeat="tags in vm.article.tags">
                <a ui-sref="tag-detail({id: {{tags.id}}})">{{tags.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
