
<div>
    <h2><span>Tag</span> {{vm.tag.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.tag.name}}</span>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
