<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome, Java Hipster!</h1>
            <p class="lead">This is your homepage</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="table-responsive">
                    <table class="jh-table table table-striped">
                        <thead>
                            <tr>
                                <th><span>Title</span></th>
                                <th><span>Last Modified</span></th>
                                <th><span>Author</span></th>
                                <th><span>Tags</span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="article in vm.articles track by article.id">
                                <td><a ui-sref="article-detail({id:article.id})">{{article.title}}</a></td>
                                <td>{{article.lastModified | date:'medium'}}</td>
                                <td>
                                    {{article.user.login}}
                                </td>
                                <td>
                                    <span ng-repeat="tags in article.tags">
                                        <a class="form-control-static" ui-sref="tag-detail({id: {{tags.id}}})">{{tags.name}}</a>{{$last ? '' : ', '}}
                                    <span>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                                ui-sref="article-detail({id:article.id})"
                                                class="btn btn-info btn-sm">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                            <span class="hidden-xs hidden-sm"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            <p>
             <span>If you like JHipster, don't forget to give us a star on </span>&nbsp;<a href="https://github.com/jhipster/generator-jhipster" target="_blank">Github</a>!
            </p>
        </div>
    </div>
</div>
